# 1. Get your public IP (needed for localtunnel password)
import urllib
print("Your Tunnel Password (IP):", urllib.request.urlopen('https://ipv4.icanhazip.com').read().decode('utf8').strip())

# 2. Run Streamlit in the background
!streamlit run app.py &>/content/logs.txt &

# 3. Expose the port 8501 using localtunnel
!npx localtunnel --port 8501

streamlit
faster-whisper
torch

